



PORT = Numero de puerto a exponer
MONGO_DB_NAME = nombre de la base de datos
MONGO_URL = url generado por mongo atlas con su usuario respectivo(crearlo si es necesario)
JWT_SEED = Usar una clave secreta

GOOGLE_ID = crear apliacion en gogole para obtner la credenciales(https://developers.google.com/identity/gsi/web/guides/get-google-api-clientid?hl=es-419)
GOOGLE_SECRET = obtener credenciales secretas de la aplicacion de google
CLOUDINARY_URL = obtener variable de cloudinary